BOT_TOKEN=""
ACCESS_MODE="private"
ALLOWED_USER_IDS=""
DEFAULT_PSK="123"
APP_BASE_DIR="/opt/autodaggertunnel"
DATA_DIR="/opt/autodaggertunnel/data"
DB_PATH="/opt/autodaggertunnel/data/servers.db"
KEY_FILE="/opt/autodaggertunnel/data/secret.key"
TEST_WINDOW_SECONDS="75"
SSH_CONNECT_TIMEOUT="12"
SSH_COMMAND_TIMEOUT="45"
DAGGER_BINARY_URL="https://github.com/itsFLoKi/daggerConnect/releases/download/v1.5.1/DaggerConnect"
